{% extends '_layout.njk' %}
{% import '_macro/sidebar.njk' as sidebar_template with context %}

{% block title %}{{ title }}{%- if theme.index_with_subtitle and subtitle %} - {{ subtitle }}{%- endif %}{% endblock %}

{% block class %}index posts-expand{% endblock %}

{% block content %}
  <div>
    <strong>博客须知:</strong><br>
    ● 点击 <strong><a href="/categories">分类</a></strong> 查看更多文章~~ <br>
    ● 若为系列文章, 会使用 "系列/p1", "系列/p2" 等形式作为网址 <br>
    ● 会通过缓存支持离线查看, 联网且博客更新时会提示你更新缓存 <br>
    ● 通过 <strong><a href = "/atom.xml">atom.xml</a></strong> 文件, 在博客更新时自动发送消息, 进行提醒 (<a href = "https://www.zhihu.com/question/384290217">RSS 是什么? 如何订阅?</a>) <br>
    <hr>
    <br>
    <br>
  </div>
  {%- for post in page.posts.toArray() %}
    {{ partial('_macro/post.njk', {post: post, is_index: true}) }}
  {%- endfor %}

  {%- include '_partials/pagination.njk' -%}

{% endblock %}

{% block sidebar %}
  {{ sidebar_template.render(false) }}
{% endblock %}
