{% extends '_layout.njk' %}
{% import '_macro/sidebar.njk' as sidebar_template with context %}

{% block title %}{{ title }}{%- if theme.index_with_subtitle and subtitle %} - {{ subtitle }}{%- endif %}{% endblock %}

{% block class %}index posts-expand{% endblock %}

{% block content %}
  <div style="font-size: 105%">
    <strong>博客须知:</strong><br>
    ● 点击 <strong><a href="/categories">分类</a></strong> 查看更多文章~~ <br>
    ● 若为系列文章, 会使用 "系列/p1", "系列/p2" 等形式作为网址 <br>
    ● 本站通过sw缓存, 支持离线查看文章, 联网时若博客更新将自动提示 <br>
    ● 可订阅本站的 <strong><a href = "/atom.xml">atom.xml</a></strong> 文件, 以便获取博客的更新情况 (<a href = "https://www.zhihu.com/question/384290217">RSS 是什么? 如何订阅?</a>) <br>
    <hr>
    <br>
    <br>
  </div>
  {%- for post in page.posts.toArray() %}
    {{ partial('_macro/post.njk', {post: post, is_index: true}) }}
  {%- endfor %}

  {%- include '_partials/pagination.njk' -%}

{% endblock %}

{% block sidebar %}
  {{ sidebar_template.render(false) }}
{% endblock %}
