{% extends '_layout.njk' %}
{% import '_macro/sidebar.njk' as sidebar_template with context %}

{% block title %}{{ page.title }} | {{ title }}{% endblock %}

{% block class %}post posts-expand{% endblock %}

{% block content %}

  {{ partial('_macro/post.njk', {post: page}) }}

  <br> 

  {%- if page.is_series %}
    <hr>
  {%- endif %}

  {%- if page.prev_post %}
    {%- set prev_link = url_for(page.prev_post[0]) %}
    {%- set prev_name =  page.prev_post[1] %}
    
    <div style="float: left;text-align:right" >
      <strong style="float: left">&lt;~~同系列: prev─┐</strong><br>
      <a style="font-style: italic;font-size: 130%" href="{{prev_link}}"> {{prev_name}} </a>
    </div>
  {%- endif %}


  {%- if page.next_post %}
    {%- set next_link = url_for(page.next_post[0]) %}
    {%- set next_name = page.next_post[1] %}
    
    <div style="float: right;text-align:left">
      <strong style="float: right">┌─next :同系列~~&gt;</strong><br>
      <a style="font-style: italic; font-size: 130%" href="{{next_link}}"> {{next_name}} </a>
    </div>
  {%- endif %}


  {%- if page.is_series %}
      {%- set categories_name = url_for(page.path).split("/").reverse()[1] if not page.series_link else page.series_link %}
      {%- set categories_link = url_for("/categories/" + categories_name) %}

      <div style="text-align: center;white-space: nowrap">
          <strong>&lt;~同系列目录~&gt;</strong><br>
          <a style="font-style: italic;font-size: 130%" href="{{categories_link}}"> {{categories_name}} </a>
      </div>
  {%- endif %}




{% endblock %}

{% block sidebar %}
  {{ sidebar_template.render(true) }}
{% endblock %}
