.sidebar-inner {
  padding: 0px;
  margin: 0px;
}

.sidebar-nav {
  margin-top: 20px;
}

.sidebar-nav-toc, .sidebar-nav-overview {
  font-weight: bold;
  font-style: italic;
}

.menu-item, .nav-text {
  font-weight: bold;
}

.back-to-top {
  font-size: 25px;
}

.post-title, .post-nav-item {
  font-weight: bold;
}

.site-subtitle {
  font-style: italic;
}

.fa-copy, .fa-fw{
  font-size: 25px;
}

@font-face {
  font-family: 'Fira Code';
  src: url('./FiraCode-Regular.ttf')
}

.tips {
  padding-left: 10px;
  background-color rgba(52,152,219,.3);
  border-left 4px solid rgb(52,152,219);
  color: darken(rgb(255,255,255),20%);
}
.success {
  padding-left: 10px;
  background-color rgba(46,204,113,.3);
  border-left 4px solid rgb(46,204,113);
  color: darken(rgb(255,255,255),20%);
}
.warning {
  padding-left: 10px;
  background-color rgba(241,196,15,.3);
  border-left 4px solid rgb(241,196,15);
  color: darken(rgb(255,255,255),20%);
}
.danger {
  padding-left: 10px;
  background-color rgba(231,76,60,.3);
  border-left 4px solid rgb(231,76,60);
  color: darken(rgb(255,255,255),20%);
}

a {
  line-height: 1.6;
}

br {
  line-height: 2;
}

.lvl-2 {
  line-height: 1;
}

ul {
  line-height: 1.6;
}

/* 隐藏原来的表单 */
input[type=checkbox] {
	display: none;
}
/* 将label设置为块级元素 */
label {
	width: 100%;
	height: 100%;
  display: inline;
	position: relative;
  padding: 0px 30px 0px 8px
}
label:active {
}
/* 在label前或后添加一个空白字符,设置宽高,设置圆角使之成为圆形 */
label:after {
	content: "";
	width: 20px;
	height: 20px;
	border: 2px solid #e2d1c3;
	position: absolute;
}
/* label与check是绑定的，点击label会被checked，设置被选中时check选框背景 */
input[type=checkbox]:checked+label:after{
	background-color: #e2d1c3;
}

* {
  color-scheme: dark
}
