{%- if page.prev or page.next %}
  <nav class="pagination">
    {{
      paginator({
        prev_text: '<i class="iconfont icon-arrow-left-bold" aria-label="' + __('accessibility.prev_page') + '"></i>',
        next_text: '<i class="iconfont icon-arrow-right-bold" aria-label="' + __('accessibility.next_page') + '"></i>',
        mid_size : 10,
        escape   : false
      })
    }}
  </nav>
{%- endif %}
